.header-cont, .footer-cont {
	background-color: navy;
	color: white;
	padding: .75rem;
}

.footer-cont {
	margin-top: 1rem;
	font-size: .75rem;
	font-style: italic;
}

.content-cont {
	margin: 1rem;
}

.select-input {
    min-width: 20rem;
    height: 2rem;
	margin-right: 1rem;
}

.check-span {
    width: 33%;
    display: inline-table;
}

.input-label {
	font-size: 1.1rem;
	font-weight: bold;
}

.input-cont {
	margin-bottom: 1rem;
}

.links-cont {
	background: #9b9cb3;
	padding: .5rem;
	margin-bottom: 1rem;
}

.links-cont a {
	margin: 0rem .25rem;
}

.table-cont {
	padding: 1rem;
}

.input-cont {
    display: grid;
    width: 20rem;
}
.input-cont label {
    margin: .6rem 0rem .15rem 0rem;
}
.input-cont input {
    min-height: 1.5rem;
}
.input {
    margin: .5rem .5rem .1rem 0rem;
    min-width: 4rem;
    height: 1.5rem;
}
.submit_input, .button_input {
    margin: .5rem .5rem .1rem 0rem;
    min-width: 4rem;
    height: 1.5rem;
}
.half-width {
	width: 40%;
}
.centered {
	margin: auto;
}
