.header_cont, .footer_cont {
	background-color: navy;
	color: white;
	padding: .75rem;
}

.footer_cont {
	margin-top: 1rem;
	font-size: .75rem;
	font-style: italic;
}

.content_cont {
	margin: 1rem;
}

.select_input {
    min-width: 20rem;
    height: 2rem;
	margin-right: 1rem;
}

.check_span {
    width: 33%;
    display: inline-table;
}

.input_label {
	font-size: 1.1rem;
	font-weight: bold;
}

.input_cont {
	margin-bottom: 1rem;
}

.links_cont {
	background: #9b9cb3;
	padding: .5rem;
	margin-bottom: 1rem;
}

.links_cont a {
	margin: 0rem .25rem;
}